
@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1490707617093'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1490707617093#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1490707617093') format('woff'), /* chrome, firefox */
  url('../iconfont/iconfont.ttf?t=1490707617093') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1490707617093#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:18px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xunhuanshouji{
  font-size:32px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-xunhuanshouji:hover{
  color: #F0EFEE;
}
.icon-liwu{
  font-size:30px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-liwu:hover{
  color: #F0EFEE;
}
.icon-shenfenzheng{
  font-size:30px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-shenfenzheng:hover{
  color: #F0EFEE;
}
.icon-1yg{
  font-size:30px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-1yg:hover{
  color: #F0EFEE;
}
.icon-cunchuqia{
  font-size:30px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-cunchuqia:hover{
  color: #F0EFEE;
}
.icon-shouji{
  font-size:30px;
  margin-left: 20px;
  line-height: 50px;
  color: #CDCAC8;
}
.icon-shouji:hover{
  color: #F0EFEE;
}
.icon-xunhuanshouji:before { content: "\e600"; }

.icon-li:before { content: "\e862"; }

.icon-shoppingcart:before { content: "\e61e"; }

.icon-shenfenzheng:before { content: "\e8a7"; }

.icon-1yg:before { content: "\e608"; }

.icon-cunchuqia:before { content: "\e628"; }

.icon-shouji:before { content: "\e65f"; }

